@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~materialize-css/sass/materialize";

html {
  font-family: 'Roboto', sans-serif;
}

img, .btn {
  user-select: none;
}

.row:last-child {
  margin-bottom: 0;
}
